$color_1: white;
$color_2: rgb(131, 30, 30);
$color_3: rgb(102, 20, 20);
$color_4: #663c4c;
$color_5: cadetblue;
$color_6: whitesmoke;
$color_7: #fff;
$color_8: #efefef;
$color_9: red;
$font-family_1: 'Quicksand', sans-serif;
$background-color_1: black;
$background-color_2: whitesmoke;
$background-color_3: rgb(224, 243, 243);
$background-color_4: rgba(0, 0, 0, 0.767);
$background-color_5: rgba(0, 0, 0, 0.219);
$background-color_6: rgba(37, 33, 33, 0.582);
$border-bottom-color_1: red;
$border-bottom-color_2: #d39892;