@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding:35px 0px;
      align-items: center;
     }
  }
  @media (max-width:768px) {
	header {
		flex-direction: column;
		align-items: center;
	}
}
@media (min-width:700px){
  .container{
    padding:0 4rem;
  }
  
}
@media(max-width:768px){
  .nosotrosf {
    @include flex;
     background-image: url(../assets/img/vehiculosfondo.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    padding: 0 20%;
    opacity: .8;
      
  }
  .titulogrande {
    color:$color_1;
    text-align: center;
    background-color: $background-color_4;
    margin-bottom: 0;
  
  }
  .pepito{
    grid-template-columns: repeat(2,auto);
    padding:5px;
    column-gap: 8px;
 }
 
 .product-box{
   background-color: rgb(224, 243, 243);
   border-radius: 10px;
   position: relative;
   display: grid;
   place-items: center;
   row-gap: 8px;
   margin:15px;
   padding: 5px 5px;
   width: 290px;
   height: 450px;
   align-items: center;
 }
 
 .product-img{
   width: 100%;
   height: 100%;
   padding: 10px 10px;
   border-radius: 10px;
 }
 
 .product-title{
   text-align: center;
  font-size: 1.9rem; 
  font-weight: 500;

 }
 
 .price{
   text-align: center;
   font-weight: 400;
   font-size: 2.1rem;
   place-self:initial;
 }
 }