@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding:35px 0px;
      align-items: center;
     }
  }
  @media (max-width:768px) {
	header {
		flex-direction: column;
		align-items: center;
	}
}
@media (min-width:700px){
  .container{
    padding:0 4rem;
  }
  
}
@media(max-width:768px){
  .nosotrosf {
    @include flex;
     background-image: url(../assets/img/vehiculosfondo.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    padding: 0 20%;
    opacity: .8;
      
  }
  .titulogrande {
    color:$color_1;
    text-align: center;
    background-color: $background-color_4;
    margin-bottom: 0;
  
  }}