.pepito {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, auto));
	gap: 2.5rem;
	padding: 30px 27px;
}
.product-box {
	background-color: $background-color_3;
	border-radius: 10px;
	position: relative;
	display: grid;
	place-items: center;
	row-gap: 10px;
	padding: 5px 0;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease;
	background-color: $background-color_3;
	border-radius: 10px;
	position: relative;
	display: grid;
	place-items: center;
	row-gap: 10px;
	padding: 5px 0;
	&:hover {
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
		transform: translateY(-3%);
	}
}
.product-img {
	
	padding: 10px 10px;
	border-radius: 10px;
}
.product-title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 500;
}
.price {
	text-align: center;
	font-weight: 400;
	font-size: 1.3rem;
	place-self: initial;
}
.sectionautos {
	background-image: url(../assets/img/micoper.jpg);
	background-position: center;
	background-size: cover;
	height: 100%;
}